.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.logo-container {
    padding-left: 170px;
}

.logo-and-menu-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-image {
    height: 2rem; /* Equivalent to h-8 in Tailwind */
}

.location-dropdown {
    position: relative;
    padding-left: 700px;
}

.location-link {
    color: #4b5563; /* text-gray-600 */
    transition: color 0.2s;
}

.location-link:hover {
    color: #10b981; /* hover:text-green-500 */
}

.contribute-button {
    background-color: #10b981; /* bg-green-500 */
    color: white;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 0.375rem; /* rounded-md */
    transition: background-color 0.2s;
}

.contribute-button:hover {
    background-color: #059669; /* hover:bg-green-600 */
}

.signin-button {
    background-color: #e5e7eb; /* bg-gray-200 */
    color: #4b5563; /* text-gray-600 */
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 0.375rem; /* rounded-md */
    transition: background-color 0.2s;
}

.signin-button:hover {
    background-color: #d1d5db; /* hover:bg-gray-300 */
}
